* {
  font-family: 'Anybody', cursive;
}

body {
  background: linear-gradient(45deg, #ff00cc, #3333ff, #00ccff, #ff6600);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}